{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
{#    прячем ссылки, видеть будеть только владелец страницы#}
    {% if user.pk == user_obj.pk %}
        <li class="nav-item"><a href="{% url 'accounts:user_update' user_obj.pk %}" class="nav-link">Редактировать</a></li>
        <li class="nav-item"><a href="{% url 'accounts:password_change' user_obj.pk %}" class="nav-link">Изменить пароль</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="lk-content">
        <h1 class="text-center m-4">Личный кабинет</h1>
        <div class="row" style="background-color: steelblue;">
            <div class="cl" style="width: 25%">
                <div class="mt-4">
                    {% if user_obj.profile.avatar %}
                        <img src="{{ user_obj.profile.avatar.url }}" class="user_photo">
                    {% else %}
                         <img src="{% static "default-avatar.jpg" %}" class="user_photo" style="width: 70%;" alt="No avatar!" />
                    {% endif %}
                </div>
            </div>
            <div class="cl" style="width: 70%; margin-top: 30px; margin-bottom: 50px;">
                <div class="mt-5">
                    <p><b>Логин:</b> {{ user_obj.username }}</p>
                    <p><b>Имя:</b> {{ user_obj.first_name }}</p>
                    <p><b>Фамилия:</b> {{ user_obj.last_name }}</p>
                    <p><b>День рождения:</b> {{ user_obj.profile.birth_date }}</p>
                    <p><b>Телефон:</b> {{ user_obj.profile.phone}}</p>
                    {% if user_obj.email %}
                    <p><b>Почта:</b> {{ user_obj.email }}</p>
                    {% endif %}
                 <h2 class="my_ad mt-5 text-left" style="font-weight: bold">Мои файлы: </h2>
            <div class="file-list">
                {% if not files %}
                    <p class="note mb-4" style="font-weight: bold; color: crimson; font-size: 25px;">У Вас еще нет скачанных файлов!</p>
                {% else %}
                    {% include 'partial/file_list.html' %}
                {% endif %}
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}