<div class="container_index pt-4 ">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr class="table-dark text-dark">
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дата загрузки</th>
                    <th scope="col">Общий доступ</th>
                    <th scope="col">Ссылка</th>
                </tr>
                </thead>
                {% for file in files|dictsortreversed:'create' %}
                    <tbody>
                    <tr class="table-secondary">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="{% url 'webapp:file_detail' file.pk %}"> {{file.name}}</a></td>
                        {%  if file.author %}
                            <td><a href="{% url 'accounts:user_detail' file.author.pk %}" class="text-danger font-weight-bold"> {{ file.author }} </a></td>
                        {% else %}
                            <td>Аноним</td>
                        {% endif %}
                            <td>{{ file.create| date:'d.m.Y H:i:s'  }}</td>
                            <td>{{ file.access}}</td>
                            <td><a href="{{ file.file.url }}">{{ file.file }}</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>