{% extends "base.html" %}
{% block title %}Удалить {{ title }}{% endblock %}
{% block content %}
    <h3 class="delete-confirmation text-center m-5" style="font-weight: bold">Вы уверены что хотите удалить {{ title }} объект:<br>"{{ object }}"?</h3>
    <form method="POST"  class="text-center">
        {% csrf_token %}
        <div class="text-center" >
            <p><input type="submit" value="Да" class="btn btn-danger" style="width: 150px;"></p>
            <a href="{% url 'webapp:index' %}" class="btn btn-primary" style="width: 150px;">Нет, выход</a>
        </div>
    </form>
{% endblock %}