body{
    font-family: Arial, sans-serif;
    background-color: rgba(128, 151, 237, 0.65);
    color: #222222;
    margin-top: 60px;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-size: 20px;
}

h1{
    margin-top: 40px;
    text-align: center;
}
.user_photo {
    display: inline-block;
    float: left;
    width: 200px;
    height: auto;
    margin-top: 60px;
    margin-left: 30px;
}
.pagination {
    text-align: center;
    margin-left: 28%;
    padding-bottom: 18px;
}
.pagination a, .page-disabled, .page-active {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}
.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}
.pagination a:hover {
   background: #6a7dff;
   text-decoration: underline;
}
.page-disabled {
    background: #6a7dcc;
    color: #dddddd
}
.page-input {
    font-size: 14px;
    width: 40px;
    text-align: center;
}
.page-active {
    background: #ff7e5f;
}
h2{
    text-align: center;
    color: #261cda;
}